# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Project specific
/config/settings.properties
/config/grading.properties
.onyens
GraderData
log

# Other
.passwords
